<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="LogDirectory" value="E:\Satge 2\24 - Windows Services\Project1-File Monitoring Windows Service" />
		<add key ="LogFileName" value="Logs.txt"/>
		<add key ="SourceFolder" value="E:\Satge 2\24 - Windows Services\Project1-File Monitoring Windows Service\SourceFolder"/>
		<add key ="DestinationFolder" value="E:\Satge 2\24 - Windows Services\Project1-File Monitoring Windows Service\DestinationFolder"/>
		
	</appSettings>
</configuration>